body {
  margin: 0;
  padding: 0;
  text-align: center;
}

input[type="text"], input[type="password"]{
  outline: none;
  padding: 20px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 20px auto;
}

input[type="submit"] {
  padding: 10px;
  color: #fff;
  background: #0098cb;
  width: 320px;
  margin: 20px auto;
  margin-top: 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #00b8eb;
}

h1 {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
    color: #343a40
}

body {
  background: #f2e8cf;
}

.cuadro-login {
    font-family: "Poppins", sans-serif;
    background: gainsboro;
    margin-top: 140px;   /* Mover hacia abajo */
    margin-left: 600px;  /* Mover hacia la derecha */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 350px;
}

.cuadro-logout {
    font-family: "Poppins", sans-serif;
    background: gainsboro;
    margin-top: 230px;   /* Mover hacia abajo */
    margin-left: 600px;  /* Mover hacia la derecha */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 350px;  
}

.cuadrito {
    display: inline-block;
    background: #ff4444;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.cuadrito:hover {
  background-color: #ff1a1a;
  text-decoration: none;
  color: white;
}

.cuadro-sigup {
    font-family: "Poppins", sans-serif;
    background: gainsboro;
    margin-top: 180px;   /* Mover hacia abajo */
    margin-left: 600px;  /* Mover hacia la derecha */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 350px;
}

.captcha-box{
    display: flex;
    align-items: center;
}
.captcha-op{
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.error-msg {
    color: red;
    text-align: center;
    margin: 10px 0 15px 0;
    font-size: 15px;
}
